@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

header a {
    font-family: "Inter", system-ui;
    font-weight: 400;
    font-size: 17px;
    color: black;
    text-decoration: underline;
}

header .logo {
    font-family: "Inter", system-ui;
    font-weight: 400;
    font-size: 24px;
    color: black;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25%;
}

.nav_links {
    list-style: none;
    display: inline-flex;
}

.nav_links li {
    margin-left: 15px;
}

main div {
    font-family: "Inter", system-ui;
    font-weight: 400;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

main {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 50px 25%;
}

main img {
    padding-top: 25px;
}